@page
@model DetailsModel
@{
    ViewData["Title"] = "ToDo Manager";
    Layout = "_Layout";
}


@if (Model.toDoToShow != null)
{
    <div class="todo-detail-header">
        <h1>@Model.toDoToShow.Title</h1>
    </div>

    <div class="todo-detail-content">
        @Model.toDoToShow.Content
    </div>
}
else
{
    <p>ToDo nicht gefunden.</p>
}

